---
layout: page
---

<div class="post-header">
  <h1 class="post-title">{{ site.blog_name }}</h1>
  <p class="post-meta">{{ site.blog_description }}</p>
</div>


<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>


## Equipe organisatrice

* [Jérémy Cohen](), Affiliation
* [Jordan Frecon](), Affiliation
* [Maxime Guillaud](), Affiliation
* [Nelly Pustelnik](), Affiliation
* [Laurent Seppecher](), Affiliation
* [Juliàn Tachella](), Affiliation


{% include pagination.html %}
